{% extends "layout.html.twig" %} {% set visiteurnMenu = true %} {% block title %}Informations personnelles{% endblock %} 
{% block content %}

<h2 class="text-center">{{ block('title') }}</h2> 


<div class="well">
    <form class=" form-horizontal" role="form" method="post">
{% if visiteurForm %} 
        {{ form_start(visiteurForm) }} 
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Nom</label>
            <div class="col-sm-5 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.nom) }}
                {{ form_widget(visiteurForm.nom, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Prénom</label>
            <div class="col-sm-5 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.prenom) }}
                {{ form_widget(visiteurForm.prenom, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Adresse</label>
            <div class="col-sm-6 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.adresse) }}
                {{ form_widget(visiteurForm.adresse, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Code postal</label>
            <div class="col-sm-2 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.codePostal) }}
                {{ form_widget(visiteurForm.codePostal, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Ville</label>
            <div class="col-sm-5 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.ville) }}
                {{ form_widget(visiteurForm.ville, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Date d'embauche</label>
            <div class="col-sm-5 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.dateEmbauche) }}
                {{ form_widget(visiteurForm.dateEmbauche, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Nom d'utilisateur</label>
            <div class="col-sm-2 col-md-4 col-md-offset-4">
            {{ form_errors(visiteurForm.username) }}

                {{ form_widget(visiteurForm.username, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-3 col-sm-offset-1 control-label">Mot de passe</label>
        <div class="col-sm-5 col-md-3">
            {{ form_widget(visiteurForm.password.first, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-sm-offset-1 control-label">Répéter le mot de passe</label>
        <div class="col-sm-5 col-md-3">
            {{ form_widget(visiteurForm.password.second, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4 col-md-4 col-md-offset-4">
                <input type="submit" class="btn btn-primary" value="Mettre à jour" />
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
    </form>
</div>
{% endif %}
{% endblock %}