{% extends "layout.html.twig" %} {% set rapportMenu = true %} {% block title %}Nouveau rapport de visite{% endblock %} 
{% block content %}

<h2 class="text-center">{{ block('title') }}</h2> 

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="well">
    <form class=" form-horizontal" role="form" method="post">
{% if rapportForm %} 
        {{ form_start(rapportForm) }} 
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Praticien</label>
            <div class="col-sm-5 col-md-4 ">
            {{ form_errors(rapportForm.praticien) }}
                {{ form_widget(rapportForm.praticien, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Date</label>
            <div class="col-sm-5 col-md-4 ">
            {{ form_errors(rapportForm.dateRapport) }}
                {{ form_widget(rapportForm.dateRapport, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Motif</label>
            <div class="col-sm-6 col-md-4 ">
            {{ form_errors(rapportForm.motif) }}
                {{ form_widget(rapportForm.motif, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Bilan</label>
            <div class="col-sm-2 col-md-4 ">
            {{ form_errors(rapportForm.bilan) }}
                {{ form_widget(rapportForm.bilan, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4 col-md-4 col-md-offset-4">
                <input type="submit" class="btn btn-primary" value="Ajouter" />
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}